@import "assets/styles/modal";
@import "assets/styles/section";

.clickable {
  cursor: pointer;
}

*, *::after, *::before {
  margin: 0px;
  pad: 0px;
  box-sizing: border-box;
}

body {
  /* border: 1px solid salmon; */
  height: 100vh;
  width: 100vw;
}
