<!-- Default page layout -->
<section class="checklist-section">

  <!-- Page header section -->
  <section class="main-page-header float-right row mx-0">
    <button type="button" (click)="create()" class="btn btn-primary btn mb-2 mx-0">
      Novo produto
    </button>
  </section>

  <div class="card card w-100">
    <div class="card-body">

      <!-- Card Content Section -->
      <section class="card-content">
        <!--        TODO LOADER E NO RESULTS -->
        <!--<app-loader-section *ngIf="loading"></app-loader-section>-->
        <!--<app-no-result *ngIf="!loading && noResults"></app-no-result>-->
        <div class="table-container" *ngIf="!loading && !noResults">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="">Nome</th>
              <th class="">Categoria</th>
              <th class="">Descrição</th>
              <th class="">Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let object of objects" [ngClass]="{'disabled': saveLoading}">
              <td class="">
                <span [title]="object.name">{{object.name}}</span>
              </td>
              <td class="">
                <span [title]="object.category?.name">{{object.category?.name}}</span>
              </td>
              <td class="">
                <span [title]="object.description">{{object.description|resumir:40}}</span>
              </td>
              <td class="">
                <div class="btn-group-sm">
                  <button class="btn btn-warning" (click)="update(object)">
                    <i class="eva eva-edit-outline"></i>
                  </button>
                  <button class="btn btn-danger" (click)="openRemoveModal(object)">
                    <i class="eva eva-trash-outline"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>

      <!--        TODO Pagination -->
      <!-- Paginator Section -->
      <!--<section class="main-paginator-section">-->
      <!--<div class="label">{{paginator.totalResults}} resultado(s)</div>-->
      <!--<div class="pages" *ngIf="paginator.totalPages > 1">-->
      <!--<pagination [boundaryLinks]="true" [totalItems]="paginator.totalResults" [(ngModel)]="paginator.pageNumber"-->
      <!--(pageChanged)="pageChanged($event)" [maxSize]="5" [rotate]="true"-->
      <!--previousText="<i class='eva eva-arrow-ios-back-outline'></i>"-->
      <!--nextText="<i class='eva eva-arrow-ios-forward-outline'></i>"-->
      <!--firstText="<i class='eva eva-arrowhead-left-outline'></i>"-->
      <!--lastText="<i class='eva eva-arrowhead-right-outline'></i>">-->
      <!--</pagination>-->
      <!--</div>-->
      <!--</section>-->

    </div>
  </div>

</section>
